<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List of the best Artists in the World</title>
</head>
<body>
<h1>Artist</h1>
	<ul>
	<% artists.forEach(function(artist){ %>
		<li><%=artist%></li>
	<%})%>
	</ul>
</body>
</html>